## Ignore Files

# PCB Log Files
/Hardware/*/History/
/Hardware/*/Project Logs for CTR/
/Hardware/*/Project Outputs for CTR/
/Hardware/*/Project Project Logs for CORE_BOARD/
/Hardware/*/*.zip
/Hardware/*/*.htm
/Hardware/*/*.pdf
*.PrjPcbStructure

# MDK Object Files
/Software/*/MDK-ARM/myOsc/
/Software/*/MDK-ARM/CTR/