## Ignore Files

# PCB Log Files
/Hardware/*/History/
/Hardware/*/Project Logs for CTR_PAD/
/Hardware/*/Project Outputs for CTR_PAD/
/Hardware/*/Project Project Logs for CORE_BOARD/
*.PrjPcbStructure

# MDK Object Files
/Software/*/MDK-ARM/myOsc/
/Software/*/MDK-ARM/CTR_PAD/